<app-nav-bar></app-nav-bar>
<div class="wrapper">
    <app-landing-intro>
        <h1 title>Angularlicio.us Subscribers</h1>
    </app-landing-intro>
    <div class="main">
        <app-article>
            <h1 title>Subscriber List ({{subscriberCount}})</h1>
            <div body *ngIf="!hasSubscribers">
                <h3>There are no subscribers...better get your list on man!!!</h3>
            </div>
            <div body *ngIf="hasSubscribers">
                <p>Here are the current Angularlicio.us Subscribers:</p>
                <div *ngFor="let subscriber of subscribers">
                    <div class="row">
                        <div class="col-lg-4">
                            <h3>{{subscriber.Name}}</h3>
                            <ul>
                                <li>Email Address: <a href="mailto:{{subscriber.EmailAddress}}">{{subscriber.EmailAddress}}</a></li>
                                <li>Start Date: {{subscriber.SubscriptionStart}}</li>
                                <li>Is Verified: {{subscriber.IsVerified}}</li>
                                <button (click)="removeSubscriber(subscriber)" class="btn btn-info mb-1">REMOVE</button>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </app-article>
    </div>
    <app-footer></app-footer>
</div>