<app-nav-bar></app-nav-bar>
<div class="wrapper">
  <app-landing-intro>
    <h1 title>Podcast Playlist</h1>
  </app-landing-intro>
  <div class="main">

    <app-article>
      <h2 title>Angular Tools :: 004</h2>
      <!-- allow="autoplay" -->
      <iframe body width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/426184035&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      <div body>
        <p>
          This episode is about some new tools for your Angular applications and development environments. Building custom libraries
          for your projects is not easy. However, there are some new tools that will improve your development environment
          by creating a consolidated workspace - so you can have multiple apps and libraries in the same environment.
        </p>
        <p>
          And when you are all done you want to be able to show off all of your hard work. Using Stackblitz.io allows you to embed
          your project with code and a running application - all from your Github repository. That's pretty awesome.
        </p>
        <ul>
          <li>
            <a href="https://nrwl.io/nx" target="_blank">
              Create a MonoRepo style workspace for multiple Angular libraries and web projects using NRWL.io's Nx Workspace
            </a>
          </li>
          <li>
            <a href="https://github.com/dherges/ng-packagr" target="_blank">
              Check out ng-packagr - create Angular libraries that follow the Angular Package format.
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              Angular Package Format: Guidelines for formatting and publishing libraries.
            </a>
          </li>
        </ul>

      </div>
    </app-article>

    <app-article>
      <h2 title>Custom Angular Modules :: 003</h2>
      <iframe body width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/358758659&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
      <div body>
        <p>The focus of this podcast is about how to use Angular Modules the right way. You'll discover how many modules your
          application really needs. Also, if you've ever wanted to create a custom Angular module to share and distribute
          - this podcast provides the information you'll need to create, publish, and use your custom module.</p>
        <p>The whole notion of modules is to create reusable items to improve efficiency and minimize maintenance of source
          code. The base element of an Angular application is a Module. Each Angular application contains an app.module that
          is the entry point of the entire application.</p>
        <p>Therefore, you are already familiar with using modules. Also, it is very common to create additional modules in an
          Angular applications. However, what if you want to create Angular modules that can be reused in more than a single
          Angular application? Or, would you like to create custom modules that can be published to NPM and shared with the
          world?
        </p>
        <p>Think of modules as containers of related things. Even if you never create a custom module that is distributable,
          you can still dramatically improve the design of you existing Angular applications by creating modules to encapsulate
          and organize specific feature sets. Angular modules let you decide what items within the module are publicly available.
          For example, if you create a module that contains an Angular Service, it can act like an API that provides end-points
          to the application to perform different actions. You get to use and implement some nice architectural patterns
          that provide:
        </p>
        <ul>
          <li>
            A service facade pattern to provide end-points of functionality.
          </li>
          <li>
            Abstract the implementation details to private members of the module.
          </li>
          <li>
            Create a highly-testable service using specification tests.
          </li>
          <li>
            Encapsulation of many items used to implement the feature set.
          </li>
        </ul>

      </div>
    </app-article>

    <app-article>
      <h2 title>Angular Design Patterns :: 002</h2>
      <iframe body width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/358759607&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
      <div body>
        <p>The focus of this podcast is to identify software design patterns that are used in Angular with the goal of understanding
          how they work, why they are important. You will learn how to make services and components work better for you by
          knowing the patterns they implement.</p>
        <p>Now that we have Typescript, you are armed with the ability to take advantage of Object Oriented Programming concepts
          and design patterns. You can use design patterns to product better business logic. This episode provides some guidance
          on how to leverage these patterns. There are also some really useful code samples and templates on Github.com.</p>
      </div>
    </app-article>

    <app-article>
      <h2 title>Premier :: Episode 001</h2>
      <iframe body width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/358757015&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
      <div body>
        <p body>The focus of this podcast is about how to use Angular Modules the right way. You'll discover how many modules your
          application really needs. Also, if you've ever wanted to create a custom Angular module to share and distribute
          - this podcast provides the information you'll need to create, publish, and use your custom module.</p>
        <p body>The whole notion of modules is to create reusable items to improve efficiency and minimize maintenance of source
          code. The base element of an Angular application is a Module. Each Angular application contains an app.module that
          is the entry point of the entire application.</p>
        <p body>Therefore, you are already familiar with using modules. Also, it is very common to create additional modules in an
          Angular applications. However, what if you want to create Angular modules that can be reused in more than a single
          Angular application? Or, would you like to create custom modules that can be published to NPM and shared with the
          world?
        </p>
        <p body>Think of modules as containers of related things. Even if you never create a custom module that is distributable,
          you can still dramatically improve the design of you existing Angular applications by creating modules to encapsulate
          and organize specific feature sets. Angular modules let you decide what items within the module are publicly available.
          For example, if you create a module that contains an Angular Service, it can act like an API that provides end-points
          to the application to perform different actions. You get to use and implement some nice architectural patterns
          that provide:
        </p>
        <ul body>
          <li>
            A service facade pattern to provide end-points of functionality.

          </li>
          <li>
            Abstract the implementation details to private members of the module.
          </li>
          <li>
            Create a highly-testable service using specification tests.
          </li>
          <li>
            Encapsulation of many items used to implement the feature set.
          </li>
        </ul>

      </div>
    </app-article>

    <app-article>
      <h2 title>Where Can I Listen to the Angularlicious Podcast?</h2>
      <div body>
        <app-podcast-providers></app-podcast-providers>
      </div>
    </app-article>
  </div>
  <app-footer></app-footer>
</div>