<!-- FOOTER -->
<footer class="footer" data-background-color="black">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="mailto:matt@angularlicio.us">
                        Matt Vaughn
                    </a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['/about']">
                        About
                    </a>
                </li>
                <!-- <li>
                  <a class="nav-link" [routerLink]="['/blog']">
                        Blog
                    </a>
                </li> -->
                <li>
                    <a class="nav-link" [routerLink]="['/license']">
                        License
                    </a>
                </li>
            </ul>
        </nav>

        <div class="row justify-content-md-center sharing-area text-center">
            <!-- <div class="text-center col-md-12 col-lg-8">
                    <h3>Thank you for supporting us!</h3>
                </div> -->
            <div class="text-center col-md-12 col-lg-8">
                <a target="_blank" href="https://twitter.com/angularlicious" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg"
                    rel="tooltip" title="Follow us">
                    <i class="fa fa-twitter"></i>
                </a>
                <!-- <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg"
                    rel="tooltip" title="Like us">
                    <i class="fa fa-facebook-square"></i>
                </a> -->
                <a target="_blank" href="https://www.linkedin.com/in/matt-vaughn" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round"
                    rel="tooltip" title="Connect with LinkedIn">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/angularlicious" class="btn btn-neutral btn-icon btn-github btn-round btn-lg"
                    rel="tooltip" title="Star on Github">
                    <i class="fa fa-github"></i>
                </a>
            </div>
        </div>

        <div class="copyright">
            &copy;{{copyright}}
            <br/>Powered by
            <a href="https://www.buildmotion.com" target="_blank">www.buildmotion.com</a>.
        </div>

    </div>
</footer>
<!-- FOOTER -->