<h3>Wanna listen? Select from any of the following to listen to the Angularlicious Podcast.</h3>

<ul>
  <li><a href="https://itunes.apple.com/us/podcast/angularlicious/id1315904347" target="_blank">iTunes</a></li>
  <li><a href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;apn=com.google.android.music&amp;link=https://play.google.com/music/m/Ibgogxxhjnueflwgcxw5uvd6zhi?t%3Dangularlicious%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16" target="_blank">Google Play</a></li>
  <li><a href="https://soundcloud.com/angularlicious" target="_blank">SoundCloud</a></li>
  <li><a href="https://tunein.com/radio/Angularlicious-p1065708/" target="_blank">TuneIn</a></li>
  <li><a href="https://www.stitcher.com/podcast/angularlicious" target="_blank">Stitcher</a></li>
</ul>

<a href="https://itunes.apple.com/us/podcast/angularlicious/id1315904347" target="_blank">
  <img src="/assets/img/podcasts/itunes.png" alt="Listen on iTunes" >
</a>

<a href="https://soundcloud.com/angularlicious" target="_blank">
  <img src="/assets/img/podcasts/soundcloud.png" alt="Listen on Soundcloud" >
</a>

<a href="https://tunein.com/radio/Angularlicious-p1065708/" target="_blank">
  <img src="/assets/img/podcasts/tunein.png" alt="Listen on TuneIn" >
</a>

<a href="https://www.stitcher.com/podcast/angularlicious" target="_blank">
  <img src="/assets/img/podcasts/stitcher.jpg" alt="Listen on Stitcher" >
</a>

<a href='https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;apn=com.google.android.music&amp;link=https://play.google.com/music/m/Ibgogxxhjnueflwgcxw5uvd6zhi?t%3Dangularlicious%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16' target="_blank" rel='nofollow'><img width='125px' alt='Listen on Google Play Music' src='https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png'/></a>

<!-- <a href="https://www.acast.com/angularlicious" target="_blank">
  <img src="/assets/img/podcasts/acast.png" alt="Listen on acast" >
</a> -->
