<div class="page-header page-header-small" filter-color="orange">
  <div class="page-header-image" data-parallax="true" [ngStyle]="retrieveBackgroundStyle()">
  </div>
  <div class="container">
      <div class="content-center">
          <ng-content select="[title]"></ng-content>
          <!-- <h1 class="title">This is our great company.</h1> -->
          <!-- <div class="text-center">
              <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                  <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                  <i class="fa fa-twitter"></i>
              </a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                  <i class="fa fa-google-plus"></i>
              </a>
          </div> -->
      </div>
  </div>
</div>