<app-nav-bar></app-nav-bar>
<div class="wrapper">
  <app-landing-intro>
    <h1 title>About Angularlicio.us</h1>
  </app-landing-intro>
  <div class="main">
    <!-- <app-two-column-content></app-two-column-content> -->
    <app-article>
      <h1 title>Thanks for Being Here, Really!</h1>
      <p body>Angularlicio.us is run by me, Matt Vaughn. to share and help developers build amazing applications.</p>
      <p body>
        This site will provide access to podcasts, ebooks, and guides. In the near future, I'll be launching the
        <a href="https://angularlicious.teachable.com/" target="_blank">Angularlicious School</a>
      </p>
    </app-article>

    <app-article>
      <div title>
        <h1>Who is Matt Vaughn</h1>
        <h4>And how does he know about this stuff?</h4>
      </div>
      <p body>I build enterprise business applications. I focus on quality using a pragmatic approach to software design and implementation.
        I use SOLID principles and design patterns to create solutions that are testable, extensible, maintainable, and performant.
        For example, one solution was deployed in 4 different regions of the world and would sustain thousands of requests
        per second - this application had 100% availability and uptime for many years. Most of my career has focused on building
        robust frameworks and backend APIs for web and mobile applications.
      </p>
      <p body>I am self-taught (but aren't we all?) when it comes to technology. I have had the privelege of working with some really
        smart people over the years that were also willing to share and provide guidance. I have built a few code generators,
        rule engines, and application frameworks using C#/.NET and now I am applying many of these tools and architectures
        to Angular applications.
      </p>
    </app-article>

    <app-article>
      <div title>
        <h1>Why I do What I Do</h1>
      </div>
      <p body>
        Over the years, I have worked with some pretty cool and smart people. I have learned so much from them... I love solving
        problems, providing solutions, and being innovative. Now, I'm giving back.
      </p>
      <p body>
        It is my hope that Angularlicio.us can motivate, teach, encourage, and provide some guidance on your endeavors to learn. I believe applications can be done right the first time - but you need the right people, tools, and process. I hope you find the information and resources here at Angularlicio.us to your liking. Enjoy!
      </p>
      <p body>If you have a question or a comment. <a href="mailto:matt@angularlicio.us">I'm here.</a></p>
      <h4 body>LET'S DO THIS!</h4>
    </app-article>
  </div>
  <app-footer></app-footer>
</div>