<app-nav-bar></app-nav-bar>
<div class="wrapper">
    <app-landing-intro>
        <h1 title>Subscribe to Angularlicio.us</h1>
    </app-landing-intro>
    <div class="main">
        <app-article *ngIf="showSubscribeForm">
            <h1 title>Subscribe</h1>
            <div body>
                <p>
                    Thanks for subscribing. All subscribers will get access to my free resources. This includes:
                </p>
                <ul>
                    <li>Angular Guides</li>
                    <li>Source Code/Samples on Github.com</li>
                    <li>Podcasts</li>
                    <li>Angular Tools and Libraries</li>
                </ul>

                <!-- <buildmotion-alert [alertNotification]="alertNotification" [hasMessage]="alertNotification.showAlert"></buildmotion-alert> -->
                <!-- SUBSCRIBE SIGN-UP FORM -->
                <div class="card card-signup" data-background-color="orange">
                    <div class="header text-center">
                        <h4 class="title title-up">Angularlicio.us</h4>
                    </div>
                    <div class="card-body">
                        <!-- SUBSCRIBE SIGN-UP FORM FROM [BUILD MOTION SECURITY MODULE]-->
                        <bm-register-subscriber (subscribe)="handleSubscribe($event)"></bm-register-subscriber>
                    </div>
                </div>
            </div>
        </app-article>

        <app-article *ngIf="showMessage">
            <h1 title>Thanks for Subscribing!</h1>
            <p body>{{statusMessage}}</p>
        </app-article>

    </div>
    <app-footer></app-footer>
</div>