<app-nav-bar></app-nav-bar>
<div class="wrapper">
  <app-landing-intro>
    <h1 title>Podcast Setup</h1>
  </app-landing-intro>
  <div class="main">
    <app-article>
      <h2 title>Podcast Setup and Equipment</h2>
      <div body>
        <p>
          I am having a lot of fun doing the Angularlicio.us Podcast. Before starting the podcast, I acquired a lot of equipment while
          putting together a small home studio to do some composing, editing, and mixing music tracks - I have been playing
          sax for most of my life. So there was not a problem with having equipment. The cards below show some of the equipment
          I use to create the podcast.
        </p>

        <h3>Equipment</h3>
        <p>
          These are the main tools I use. A good mic, editing software that allows for multiple tracks, and a good playback system.
        </p>
        <ol>
          <li>
            <p>
              <b>Microphone</b>: I have a higher-end Audio-Technica mic, but the mic I use to create the podcast is the USB
              Audio-Technica AT2020. The sound quality is great and it doesn't pick up some of the ambient noise that is
              present where I do my recording. I have a desk mic arm and a pop filter. I have used this desktop mic for many
              years doing voice-overs for video and screen-presentations. It is very easy to use and portable. It is constructed
              of metal and is very durable. </p>
          </li>
          <li>
            <p>
              <b>Audacity: </b> I use
              <a href="https://www.audacityteam.org/" target="_blank">Audactity</a>. This is a free open-source tool that really has more features than I need to record the podcast
              voice tracks. It is simple and easy to use. It allows me to create as many tracks as I need for an episode.
              In addition to recording the initial tracks, I use Audacity to trim the tracks and to create a stereo track
              for left/right stereo audio.
            </p>
          </li>
          <li>
            <p>
              <b>Cubase: </b> Cubase is a Digital Audio Workstation (DAW) that I have used since version 4 for composing, editing,
              and mixing music tracks. For mixing down a new podcast, a DAW really makes it easy. Because you can have different
              tracks for different parts of the episode. I have a template project setup with the intro/outro. I have some
              default mix settings for the voice tracks that I can reuse and have a consistent mix between all of the shows.
              Using the template allows me to just drop the new voice track and start with the editing process.
            </p>
            <p>You probably do not need to spend the money for a high-end DAW like Cubase Pro 9. There are other Cubase versions
              that provide the same level of editing multiple tracks at a lower price. There are also some open-source/free
              DAW software projects. Do a little research and choose a DAW that meets your needs. Check out the "lite" versions
              of some of the more popular DAW products - they will probably be more than adequate.
            </p>
          </li>
          <li>
            <p>
              <b>Playback: </b> During the editing and mixing process, you will want to listen to the playback of the track(s).
              You will need at least a good pair of headphones. With most audio equipment, there are a lot of options. I
              think the best type of headphones are studio monitor types that allow you to hear the tracks clean without
              any/little modification by the headphones. I like the AKG series of headphones - they have products starting
              at $49 and up depending on you needs and budget.
            </p>
            <p>
              In addition to headphones, a set of desktop studio monitors can take your editing/mixing to the next level.
              <a href="https://www.recordingrevolution.com/do-studio-monitors-even-matter/" target="_blank">
                If you are wondering if studio monitors are worth it - here's a good post.
              </a>
            </p>
          </li>
        </ol>
      </div>
      <div *ngIf="hasProducts" body class="row">

        <!-- AMAZON PRODUCT CARDS -->
        <div class="col-lg-6 col-md-8" *ngFor="let product of products">
          <app-card>
            <!-- IMAGE LINK -->
            <div header [innerHTML]="product.imageUrl" tooltip="product.name"></div>

            <!-- PRODUCT TITLE H4 -->
            <h4 body>{{product.title}} :: {{product.price | currency:'USD ':'code':'2.2'}}</h4>
            <!-- PRODUCT DESCRIPTION -->
            <p body>{{product.description}}</p>
            <a footer (click)="getTheProduct(product)" tooltip="product.name" class="btn btn-danger btn-round">VIEW ON AMAZON.COM</a>
          </app-card>
        </div>
        <!-- AMAZON PRODUCT CARDS -->

      </div>
    </app-article>
  </div>
  <app-footer></app-footer>
</div>